@import "_variables.scss";
@import "_mixings.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $second-color;
  font-family: "Montserrat", sans-serif;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.app {
  width: 100%;
  min-height: 100vh;
  background-color: $third-color;
  &__title {
    font-size: $title-font-size;
    text-align: center;
    font-family: "Krona One", sans-serif;
    padding-top: 35px;
    width: 100%;
  }
  &__upload {
    border: 2px dashed $third-color;
    background-color: $base-color;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-height: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 50px;
    border-radius: 5px;
    font-size: $large-font-size;
  }
  &__uploadButton {
    border-radius: 5px;
    padding: 10px;
    text-decoration: underline;
  }
  &__submit {
    color: $third-color;
    background-color: $second-color;
    border: 1px solid $third-color;
    border-radius: 5px;
    padding: 10px;
    margin-top: 25px;
    font-size: $normal-font-size;
  }
  &__uploadFromLink {
    color: $third-color;
  }
  &__imageWrapper {
    text-align: center;
  }
  &__canvas {
    display: none; //changes the value to initial
    max-width: 90vw;
    max-height: 65vh;
    margin: 50px 0;
    border: 2px solid $base-color;
  }
  &__tools {
    width: 100%;
    padding: 0 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $base-color-opacity;
    transition: 0.4s background-color;
    &:hover {
      background-color: $base-color;
    }
  }
  &__toolTitle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include breakpoint(desktop) {
      margin-right: 25px;
      margin-bottom: 0;
    }
    font-size: $large-font-size;
  }
  &__rotateRange {
    appearance: none;
    width: 100%;
    height: 25px;
    background-color: $second-color;
    opacity: 0.7;
    transition: opacity 0.2s;
    margin: auto 0;
    border-radius: 20px;
    &::-webkit-slider-thumb {
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: $base-color;
      cursor: pointer;
    }
  }
  &__rotateValue {
    background-color: transparent;
    text-align: center;
    border: none;
    font-size: $large-font-size;
    margin: 10px 0;
  }
  &__toolWrapper {
    margin: 0 auto;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(desktop) {
      flex-direction: row;
    }
  }
  &__toolButtonsWrapper {
    display: flex;
    & button {
      border: 1px solid $second-color;
      margin: 0 20px;
      border-radius: 5px;
    }
  }
  &__toolList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & li button {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      img {
        height: 26px;
        margin-bottom: 15px;
      }
    }
  }
}
